html, body {
    background-color: black;
    font-family: sans-serif;
    color: white; 
    margin: 0px;
    overflow: hidden;
}

@media (orientation: landscape) {
    #start {
        display: block;
        height: 100vh;
        width: 50vw;
        float: left;
    }

    #end {
        display: block;
        height: 100vh;
        width: 50vw;
        float: right;
    }
}

@media (orientation: portrait) {
    #start {
        display: block;
        height: 50vh;
        width: 100vw;
    }

    #end {
        display: block;
        height: 50vh;
        width: 100vw;
    }
}

#start {
    overflow-y: auto;
    overflow-x: hidden;
}

#startbox {
    margin: 16px;
}

#talk {
    width: 300px;
    height: 75px;
}

#chatbox {
    margin: 16px;
    display: block;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    background-color: #222;
}

#chatmessages {
    height: calc(100% - 32px);
    width: 100%;
    display: block;
    overflow-y: auto;
}

#chatform {
    height: 32px;
    width: 100%;
}

#chatmessage {
    width: calc(100% - 64px);
    height: 100%;
    padding: 0px;
    border: hidden;
}

#chatform button {
    height: 100%;
    width: 64px;
    border: hidden;
    float: right;
}

.chatname {
    color: gray;
}

td input {
    margin-left: 16px;
}

#git {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    background-color: #fca326;
    padding: 8px;
    text-decoration: none;
}

.mute {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.mute input {
    visibility: hidden;
    display: none;
}

.mute span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(images/unmuted.svg);
    background-size: cover;
}

.mute input:checked ~ span{
    background-image: url(images/muted.svg);
}